//      ==============image picker css start=================
.upload-user-img {
    display: inline-block;
    position: relative;
    em.help-block {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        font-size: 12px;
        width: 100%;
        right: 50%;
    }
    img {
        width: 97px;
        height: 97px;
        border-radius: 100%;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        position: absolute;
        bottom: -10px;
        right: 37px;
        background-color: #FDC156;
    }
    i {
        color: #fff;
        align-items: center;
        font-size: 15px;
    }
    input {
        position: absolute;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
//      ============== image picker css End =================


//      ==============Gender widget css start=================
.user-gender {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    label {
        font-size: 16px;
        color: #FFFFFC;
        align-self: start;
        font-weight: 500;
        margin-bottom: 5px;
    }
    button.btn {
        padding: 5px 15px;
        font-size: 12px;
        border: 0;
    }
}
//      ==============Gender widget  css End =================

.modal-divider {
    color: #000;
    width: 40px;
    background-color: #fff;
    height: 40px;
    position: absolute;
    z-index: 9;
    border-radius: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding-top: 8px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.already-account {
    text-align: center;
    padding: 15px 20px;
    p {
        font-size: 17px;
        font-family: Roboto, serif;
        font-weight: 400;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    a {
        text-decoration: underline;
        font-size: 20px;
        font-family: Roboto, serif;
        font-weight: 400;
        letter-spacing: 0;
        color: #FFFFFF;
    }
}
.modal-dialog {
    margin: 2rem 15px;;
}
.theme-modal{
    background: url("../assets/images/modal-bg.png") no-repeat center left;
    background-size: cover;
    border: 0;
    border-radius: 10px ;
    .modal-header {
        font-weight: 300;
        .close {
            padding: 5px 0 5px;
            color: #fff;
        }
    }
    .modal-body {
        padding: 0;
        border-radius: 10px ;
        .row {
            div:nth-child(2) {
                border-radius: 0 0 10px 10px;
            }
        }
        .close {
            padding: 5px 10px 5px;
            color: #fff;
            font-weight: 300;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9;

        }
        .modal-title {
            font-size: 26px;
            font-family: Roboto, serif;
            font-weight: 500;
            margin-bottom: 15px;
            letter-spacing: 0;
            color: #FFFFFC;
        }
        .title-description{
            font-size: 14px;
            font-family: Roboto, serif;
            font-weight: 400;
            margin-bottom: 25px;
            letter-spacing: 0;
            color: #FFFFFF;
        }
    }
    &.sign-up-modal {
        form {
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &.login-modal {
        form {
            max-width: 250px;
            width: 100%;
            margin: 0 auto;
        }
        .row {
            div:first-child {
                border-radius: 10px 0 0 10px;
            }
        }
    }
}

.sign-up-selection {
    .media {
        cursor: pointer;
        margin-bottom: 20px;
        img.de-active {
            opacity: 1;
            height: auto;
        }
        img.on-active {
            transition:  1.5s ease-out;
            opacity: 0;
            height: 0;
            overflow: hidden;
        }
        .media-body  {
            margin-bottom: 15px;
            text-align: left;
            h5 {
                font-size: 17px;
                color: #fff;
                transition:  1.5s ease-out;
            }
            p {
                color: #fff;
                font-size: 14px;
                margin: 0;
            }
        }
        &.active {
            img.on-active {
                opacity: 1;
                height: auto;
            }
            img.de-active {
                transition:  1.5s ease-out;
                opacity: 0;
                height: 0;
                overflow: hidden;
            }
            .media-body  {
                h5 {
                    color: #FEC157;
                }
            }
        }
    }
}

//Check box Styling Start
//https://codepen.io/Edrees21/pen/YXVYXM?editors=1100

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    font-size: 15px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #273043;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    margin-left: -18px;
    padding-left: 1px;
    padding-top: 0px;
    font-size: 15px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #FDC156;
    border-color: #FDC156;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #000;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}
//Check box Styling End

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 576px;
        margin: 2rem auto;
    }
    .theme-modal{
        .modal-body {
            .row {
                div:nth-child(2) {
                    border-radius: 0 10px 10px 0;
                }
            }
            .modal-title {
                font-size: 32px;
            }
            .title-description{
                font-size: 14px;
            }
        }
    }

}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 730px;
        margin: 2rem auto;
    }
    .theme-modal{
        .container {
            max-width: 730px;
        }
        .modal-body {
            .row {
                div:nth-child(2) {
                    border-radius: 0 10px 10px 0;
                }
            }
            .modal-title {
                font-size: 36px;
            }
            .title-description{
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 576px) {
    .modal-divider {
        display: none;
    }
}
